@import url("https://fonts.googleapis.com/css2?family=Coiny&family=Noto+Sans+KR:wght@300;400&display=swap");
main .search-form .result-container .search-list .list, main .search-form .result-container {
  transition: opacity 0.2s ease-in-out;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #ffffff;
}

body {
  font-size: 16px;
}

header .title {
  color: #00cace;
  font-family: "Coiny", cursive;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: -1.2px;
}
@media (min-width: 335px) and (max-width: 757px) {
  header .title {
    font-size: 1.25rem;
  }
}

header .subtitle {
  color: #919191;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 1.05px;
}
@media (min-width: 335px) and (max-width: 757px) {
  header .subtitle {
    font-size: 0.625rem;
  }
}

main .search-form .result-container .search-list .list span, main .search-form .result-container .search-header span {
  color: #454545;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 0.75rem;
  font-weight: 300;
  letter-spacing: 1.05px;
}
@media (min-width: 335px) and (max-width: 757px) {
  main .search-form .result-container .search-list .list span, main .search-form .result-container .search-header span {
    font-size: 0.625rem;
  }
}

main .search-form .search-container .search::placeholder {
  color: #919191;
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 1.1px;
}
@media (min-width: 335px) and (max-width: 757px) {
  main .search-form .search-container .search::placeholder {
    font-size: 0.625rem;
  }
}

.custom-shape-divider-top-1655798555 {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(180deg);
  line-height: 0;
  overflow: hidden;
}
.custom-shape-divider-top-1655798555 svg {
  width: calc(153% + 1.3px);
  height: 485px;
  display: block;
  position: relative;
}
.custom-shape-divider-top-1655798555 .shape-fill {
  fill: url("#gradient");
}

main .search-form .search-container .search {
  box-shadow: -1px -1px 0px 1px rgba(0, 0, 0, 0.1);
}

.weway, .icon {
  box-shadow: 1px 2px 30px 10px rgba(0, 0, 0, 0.1);
}

.icon {
  width: 3.125rem;
  height: 3.125rem;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #36e8c3;
  background: linear-gradient(0deg, #36e8c3 0%, #e8f3f1 100%);
  border-radius: 10px;
  z-index: 1;
}
.icon img {
  width: 2.5rem;
  height: 2.5rem;
}

main .search-form .result-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
main .search-form .result-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

main .search-form, main, header, body, .icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

main .search-form .result-container .search-list .list, main .search-form .result-container .search-header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

header {
  flex-direction: column;
  padding: 1.875em;
}
main .search-form {
  width: 100%;
  flex-direction: column;
}
main .search-form .search-container {
  position: relative;
  margin-bottom: 1.25em;
}
main .search-form .search-container .search {
  border: none;
  border-radius: 1.25rem;
  padding: 0.625em 1.25em;
}
main .search-form .search-container .search:focus {
  outline: none;
}
main .search-form .result-container {
  width: 100%;
  height: 25rem;
  overflow: auto;
  opacity: 0;
}
@media (min-width: 335px) and (max-width: 757px) {
  main .search-form .result-container {
    height: 21.875rem;
  }
}
main .search-form .result-container.active {
  opacity: 1;
}
main .search-form .result-container .search-header span {
  text-align: center;
  padding: 0.9375em;
}
main .search-form .result-container .search-list {
  text-align: center;
}
main .search-form .result-container .search-list .list {
  background-color: #f2ebff;
  padding: 0.9375em;
  cursor: pointer;
}
main .search-form .result-container .search-list .list:hover {
  opacity: 0.5;
}
main .search-form .result-container .search-list .list + .list {
  border-top: 1px solid #ffffff;
}
.weway {
  width: 31.25rem;
  height: 37.5rem;
  position: relative;
  background: #ffffff;
  background: radial-gradient(circle, #ffffff 0%, #e8f3f1 100%);
  border: 10px solid #ffffff;
  border-radius: 1.25rem;
  z-index: 1;
}
@media (min-width: 335px) and (max-width: 757px) {
  .weway {
    width: 25rem;
    height: 31.25rem;
    margin: 1.25em;
  }
}

/*# sourceMappingURL=style.css.map */
