.weway {
  width: 31.25rem; // 500px
  height: 37.5rem; // 600px
  position: relative;
  background: $color--white;
  background: radial-gradient(
    circle,
    $color--white 0%,
    $color--light-green 100%
  );
  border: 10px solid $color--white;
  border-radius: $border--regular;
  @extend %out-shadow;
  z-index: 1;

  @include mobile {
    width: 25rem; // 400px
    height: 31.25rem; // 500px
    margin: $margin--regular;
  }
}
